<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rvc.student.collegeplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RVC Assignment APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlanSearch"></activity>
        <activity android:name=".CalendarTwo" />
        <activity android:name=".PlannerEight" />
        <activity android:name=".PlannerSeven" />
        <activity android:name=".PlannerSix" />
        <activity android:name=".PlannerFive" />
        <activity android:name=".PlannerFour" />
        <activity android:name=".PlannerThree" />
        <activity android:name=".Nextplanner" />
        <activity android:name=".Add" />
        <activity android:name=".Planner1" />
        <activity android:name=".Calendar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>